openapi: 3.1.0
info:
  title: Linq Partner API
  version: 1.0.0
  description: |
    The Linq Partner API enables you to send and receive iMessages programmatically at scale. Build powerful messaging experiences, automate conversations, and integrate iMessage infrastructure directly into your applications.

    Messages are sent through Apple's iMessage protocol using real devices, ensuring full compatibility with all iMessage features including read receipts, typing indicators, reactions, and rich media attachments.

    ## Getting Started

    All API requests require authentication via the `Authorization: Bearer` header. Your bearer token determines which phone numbers you can send from and which data you can access.

    ```bash
    curl https://api.linqapp.com/api/partner/v3/chats \
      -H "Authorization: Bearer your_token_here"
    ```

    ## Key Concepts

    - **Chats**: Conversation threads with one or more participants
    - **Messages**: Individual messages within a chat, supporting text, attachments, effects, and reactions
    - **Participants**: Phone numbers or email addresses involved in a conversation
    - **Attachments**: Files (images, videos, documents, audio) sent with messages
    - **Webhooks**: Real-time notifications for incoming messages, reactions, and events

    ## Trace Context (OpenTelemetry)

    The Linq API supports [W3C Trace Context](https://www.w3.org/TR/trace-context/) for distributed tracing. All API responses include a `trace_id` field that can be used for debugging and support requests.

    Linq generates a new trace context for each incoming request. Any standardized `traceparent` or `tracestate` headers you provide will be ignored and replaced with a server-generated trace ID. This is by design per the W3C specification's security recommendations for public APIs acting as trust boundaries.
    If you need to correlate multiple API requests on your end, we recommend:
      - Using our `trace_id` returned in each API response
      - Maintaining your own correlation ID and storing a mapping to our trace IDs
      - Add your own custom headers as needed
  contact:
    name: Linq API Support
    email: support@linq.com
servers:
  - url: https://api.linqapp.com/api/partner
    description: Production server
security:
  - BearerAuth: []
tags:
  - name: Chats
    x-page-title: Chats
    x-page-icon: comments
    description: |
      A Chat is a conversation thread with one or more participants.

      To begin a chat, you must create a Chat with at least one recipient handle.
      Including multiple handles creates a group chat.

      When creating a chat or sending messages, the `from` field specifies which of your
      authorized phone numbers the message originates from. Your authentication token grants
      access to one or more phone numbers, but the `from` field determines the actual sender.

      **Handle Format:**
      - Handles can be phone numbers or email addresses
      - Phone numbers MUST be in E.164 format (starting with +)
      - Phone format: `+[country code][subscriber number]`
      - Example phone: `+12223334444` (US), `+442071234567` (UK), `+81312345678` (Japan)
      - Example email: `user@example.com`
      - No spaces, dashes, or parentheses in phone numbers
  - name: Messages
    x-page-title: Messages
    x-page-icon: paper-plane
    description: |
      Messages are individual text or multimedia communications within a chat thread.

      Messages can include text, attachments, special effects (like confetti or fireworks),
      and reactions. All messages are associated with a specific chat and sent from a
      phone number you own.

      Messages support delivery status tracking, read receipts, and editing capabilities.
  - name: Attachments
    x-page-title: Attachments
    x-page-icon: paperclip
    description: |
      Send files (images, videos, documents, audio) with messages by providing a URL in a media part.
      Pre-uploading via `POST /v3/attachments` is **optional** and only needed for specific optimization scenarios.

      ## Sending Media via URL (up to 10MB)

      Provide a publicly accessible HTTPS URL with a [supported media type](#supported-file-types) in the `url` field of a media part.

      ```json
      {
        "parts": [
          { "type": "media", "url": "https://your-cdn.com/images/photo.jpg" }
        ]
      }
      ```

      This works with any URL you already host — no pre-upload step required. **Maximum file size: 10MB.**

      ## Pre-Upload (required for files over 10MB)

      Use `POST /v3/attachments` when you want to:
      - **Send files larger than 10MB** (up to 100MB) — URL-based downloads are limited to 10MB
      - **Send the same file to many recipients** — upload once, reuse the `attachment_id` without re-downloading each time
      - **Reduce message send latency** — the file is already stored, so sending is faster

      **How it works:**
      1. `POST /v3/attachments` with file metadata → returns a presigned `upload_url` (valid for **15 minutes**) and a permanent `attachment_id`
      2. PUT the raw file bytes to the `upload_url` with the `required_headers` (no JSON or multipart — just the binary content)
      3. Reference the `attachment_id` in your media part when sending messages (no expiration)

      **Key difference:** When you provide an external `url`, we download and process the file on every send.
      When you use a pre-uploaded `attachment_id`, the file is already stored — so repeated sends skip the download step entirely.

      ## Supported File Types

      - **Images:** JPEG, PNG, GIF, HEIC, HEIF, TIFF, BMP
      - **Videos:** MP4, MOV, M4V
      - **Audio:** M4A, AAC, MP3, WAV, AIFF, CAF, AMR
      - **Documents:** PDF, TXT, RTF, CSV, Office formats, ZIP
      - **Contact & Calendar:** VCF, ICS

      ## File Size Limits

      - **URL-based (`url` field):** 10MB maximum
      - **Pre-upload (`attachment_id`):** 100MB maximum
  - name: Phone Numbers
    x-page-title: Phone Numbers
    x-page-icon: phone
    description: |
      Phone Numbers represent the phone numbers assigned to your partner account.

      Use the list phone numbers endpoint to discover which phone numbers are available
      for sending messages. Each phone number has capabilities (SMS, MMS, voice) and
      a status indicating whether it's ready for use.

      When creating chats or sending messages, use one of your assigned phone numbers
      in the `from` field.
  - name: Webhooks
    x-page-title: Webhooks
    x-page-icon: bell
    description: |
      Webhook Subscriptions allow you to receive real-time notifications when events
      occur on your account.

      Configure webhook endpoints to receive events such as messages sent/received,
      delivery status changes, reactions, typing indicators, and more.

      Failed deliveries (5xx, 429, network errors) are retried up to 6 times with
      exponential backoff: 2s, 4s, 8s, 16s, 30s. Each event includes a unique ID
      for deduplication.

      ## Webhook Headers

      Each webhook request includes the following headers:

      | Header | Description |
      |--------|-------------|
      | `X-Webhook-Event` | The event type (e.g., `message.sent`, `message.received`) |
      | `X-Webhook-Subscription-ID` | Your webhook subscription ID |
      | `X-Webhook-Timestamp` | Unix timestamp (seconds) when the webhook was sent |
      | `X-Webhook-Signature` | HMAC-SHA256 signature for verification |

      ## Verifying Webhook Signatures

      All webhooks are signed using HMAC-SHA256. You should always verify the signature
      to ensure the webhook originated from Linq and hasn't been tampered with.

      **Signature Construction:**

      The signature is computed over a concatenation of the timestamp and payload:

      ```
      {timestamp}.{payload}
      ```

      Where:
      - `timestamp` is the value from the `X-Webhook-Timestamp` header
      - `payload` is the raw JSON request body (exact bytes, not re-serialized)

      **Verification Steps:**

      1. Extract the `X-Webhook-Timestamp` and `X-Webhook-Signature` headers
      2. Get the raw request body bytes (do not parse and re-serialize)
      3. Concatenate: `"{timestamp}.{payload}"`
      4. Compute HMAC-SHA256 using your signing secret as the key
      5. Hex-encode the result and compare with `X-Webhook-Signature`
      6. Use constant-time comparison to prevent timing attacks

      **Example (Python):**

      ```python
      import hmac
      import hashlib

      def verify_webhook(signing_secret, payload, timestamp, signature):
          message = f"{timestamp}.{payload.decode('utf-8')}"
          expected = hmac.new(
              signing_secret.encode('utf-8'),
              message.encode('utf-8'),
              hashlib.sha256
          ).hexdigest()
          return hmac.compare_digest(expected, signature)
      ```

      **Example (Node.js):**

      ```javascript
      const crypto = require('crypto');

      function verifyWebhook(signingSecret, payload, timestamp, signature) {
        const message = `${timestamp}.${payload}`;
        const expected = crypto
          .createHmac('sha256', signingSecret)
          .update(message)
          .digest('hex');
        return crypto.timingSafeEqual(
          Buffer.from(expected),
          Buffer.from(signature)
        );
      }
      ```

      **Security Best Practices:**

      - Reject webhooks with timestamps older than 5 minutes to prevent replay attacks
      - Always use constant-time comparison for signature verification
      - Store your signing secret securely (e.g., environment variable, secrets manager)
      - Return a 2xx status code quickly, then process the webhook asynchronously
  - name: Webhook Events
    x-page-title: Webhook Events
    x-page-icon: bolt
    description: |
      Webhook event payloads that Linq sends to your configured endpoint.

      These are the actual webhook callbacks you receive when events occur.
      All events are wrapped in a standard envelope with api_version, event_type,
      event_id, created_at, and data fields.

      Webhooks are signed with HMAC-SHA256 using your webhook signing secret.
      Verify the signature in the X-Webhook-Signature header before processing.
paths:
  /v3/chats:
    post:
      operationId: createChat
      summary: Create a new chat
      description: |
        Create a new chat with specified participants and send an initial message.
        The initial message is required when creating a chat.

        ## Message Effects

        You can add iMessage effects to make your messages more expressive. Effects are
        optional and can be either screen effects (full-screen animations) or bubble effects
        (message bubble animations).

        **Screen Effects:** `confetti`, `fireworks`, `lasers`, `sparkles`, `celebration`,
        `hearts`, `love`, `balloons`, `happy_birthday`, `echo`, `spotlight`

        **Bubble Effects:** `slam`, `loud`, `gentle`, `invisible`

        Only one effect type can be applied per message.
      tags:
        - Chats
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatRequest'
            examples:
              chatWithTextMessage:
                summary: Text-only message
                value:
                  from: '+12052535597'
                  to:
                    - '+12052532136'
                  message:
                    parts:
                      - type: text
                        value: Hello! How can I help you today?
              chatWithMediaUrl:
                summary: Media via external URL (server downloads automatically)
                value:
                  from: '+12052535597'
                  to:
                    - '+12052532136'
                  message:
                    parts:
                      - type: text
                        value: Check out this image!
                      - type: media
                        url: https://images.dog.ceo/breeds/terrier-cairn/n02096177_13328.jpg
              chatWithPreuploadedMedia:
                summary: Media via pre-uploaded attachment (after POST /v3/attachments)
                value:
                  from: '+12052535597'
                  to:
                    - '+12052532136'
                  message:
                    parts:
                      - type: media
                        attachment_id: 550e8400-e29b-41d4-a716-446655440000
              chatWithConfettiEffect:
                summary: Message with confetti screen effect
                value:
                  from: '+12052535597'
                  to:
                    - '+12052532136'
                  message:
                    parts:
                      - type: text
                        value: Welcome aboard! 🎉
                    effect:
                      screen_effect: confetti
              chatWithInvisibleInk:
                summary: Message with invisible ink bubble effect
                value:
                  from: '+12052535597'
                  to:
                    - '+12052532136'
                  message:
                    parts:
                      - type: text
                        value: 'Here''s a secret code: ABC123'
                    effect:
                      bubble_effect: invisible
      responses:
        '201':
          description: Chat created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChatResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: listChats
      summary: List all chats
      description: |
        Retrieves a paginated list of chats for the authenticated partner filtered by phone number.
        Returns all chats involving the specified phone number with their participants and recent activity.

        **Pagination:**
        - Use `limit` to control page size (default: 20, max: 100)
        - The response includes `next_cursor` for fetching the next page
        - When `next_cursor` is `null`, there are no more results to fetch
        - Pass the `next_cursor` value as the `cursor` parameter for the next request

        **Example pagination flow:**
        1. First request: `GET /v3/chats?from=%2B12223334444&limit=20`
        2. Response includes `next_cursor: "20"` (more results exist)
        3. Next request: `GET /v3/chats?from=%2B12223334444&limit=20&cursor=20`
        4. Response includes `next_cursor: null` (no more results)
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: from
          in: query
          required: true
          description: |
            Phone number to filter chats by. Returns all chats made from this phone number.
            Must be in E.164 format with the `+` sign URL-encoded as `%2B` (e.g., `%2B13343284472`).
          schema:
            type: string
            pattern: ^\+?[1-9]\d{1,14}$
            example: '%2B13343284472'
        - name: limit
          in: query
          required: false
          description: Maximum number of chats to return per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
        - name: cursor
          in: query
          required: false
          description: |
            Pagination cursor from the previous response's `next_cursor` field.
            Omit this parameter for the first page of results.
          schema:
            type: string
            example: '20'
      responses:
        '200':
          description: List of chats retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChatsResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/chats/{chatId}:
    get:
      operationId: getChat
      summary: Get a chat by ID
      description: Retrieve a chat by its unique identifier.
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Chat found and returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: updateChat
      summary: Update a chat
      description: |
        Update chat properties such as display name and group chat icon.
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChatRequest'
            examples:
              updateName:
                summary: Update chat display name
                value:
                  display_name: Team Discussion
              updateIcon:
                summary: Update group chat icon
                value:
                  group_chat_icon: https://example.com/group-icon.png
              updateBoth:
                summary: Update both display name and icon
                value:
                  display_name: Team Discussion
                  group_chat_icon: https://example.com/group-icon.png
      responses:
        '200':
          description: Chat updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/chats/{chatId}/participants:
    post:
      operationId: addParticipant
      summary: Add a participant to a chat
      description: |
        Add a new participant to an existing group chat.

        **Requirements:**
        - Group chats only (3+ existing participants)
        - New participant must support the same messaging service as the group
        - Cross-service additions not allowed (e.g., can't add RCS-only user to iMessage group)
        - For cross-service scenarios, create a new chat instead
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddParticipantRequest'
            examples:
              addUser:
                summary: Add a participant
                value:
                  handle: '+12052499136'
      responses:
        '202':
          description: Participant addition queued successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: accepted
                  trace_id:
                    type: string
                  message:
                    type: string
                    example: Participant addition queued
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: removeParticipant
      summary: Remove a participant from a chat
      description: |
        Remove a participant from an existing group chat.

        **Requirements:**
        - Group chats only
        - Must have 3+ participants after removal
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveParticipantRequest'
            examples:
              removeUser:
                summary: Remove a participant
                value:
                  handle: '+12052499136'
      responses:
        '202':
          description: Participant removal queued successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: accepted
                  trace_id:
                    type: string
                  message:
                    type: string
                    example: Participant removal queued
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/chats/{chatId}/typing:
    post:
      operationId: startTyping
      summary: Start typing indicator
      description: |
        Send a typing indicator to show that someone is typing in the chat.

        **Note:** Group chat typing indicators are not currently supported.
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '204':
          description: Typing indicator started successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: stopTyping
      summary: Stop typing indicator
      description: |
        Stop the typing indicator for the chat.

        **Note:** Typing indicators are automatically stopped when a message is sent,
        so calling this endpoint after sending a message is unnecessary.

        **Note:** Group chat typing indicators are not currently supported.
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '204':
          description: Typing indicator stopped successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/chats/{chatId}/read:
    post:
      operationId: markChatAsRead
      summary: Mark chat as read
      description: |
        Mark all messages in a chat as read.
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Chat marked as read successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/chats/{chatId}/share_contact_card:
    post:
      operationId: shareContactWithChat
      summary: Share your contact card with a chat
      description: |
        Share your contact information (Name and Photo Sharing) with a chat.
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Contact shared successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/chats/{chatId}/messages:
    post:
      operationId: sendMessageToChat
      summary: Send a message to an existing chat
      description: |
        Send a message to an existing chat. Use this endpoint when you already have
        a chat ID and want to send additional messages to it.

        ## Message Effects

        You can add iMessage effects to make your messages more expressive. Effects are
        optional and can be either screen effects (full-screen animations) or bubble effects
        (message bubble animations).

        **Screen Effects:** `confetti`, `fireworks`, `lasers`, `sparkles`, `celebration`,
        `hearts`, `love`, `balloons`, `happy_birthday`, `echo`, `spotlight`

        **Bubble Effects:** `slam`, `loud`, `gentle`, `invisible`

        Only one effect type can be applied per message.
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageToChatRequest'
            examples:
              simple_text:
                summary: Simple text message
                value:
                  message:
                    parts:
                      - type: text
                        value: Hello, world!
              with_confetti:
                summary: Message with confetti effect
                value:
                  message:
                    parts:
                      - type: text
                        value: Congratulations! 🎉
                    effect:
                      screen_effect: confetti
              with_slam:
                summary: Message with slam bubble effect
                value:
                  message:
                    parts:
                      - type: text
                        value: BOOM!
                    effect:
                      bubble_effect: slam
              with_invisible_ink:
                summary: Message with invisible ink effect
                value:
                  message:
                    parts:
                      - type: text
                        value: This is a secret message
                    effect:
                      bubble_effect: invisible
      responses:
        '202':
          description: Message accepted for delivery
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: getMessages
      summary: Get messages from a chat
      description: |
        Retrieve messages from a specific chat with pagination support.
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
        - name: cursor
          in: query
          description: Pagination cursor from previous next_cursor response
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of messages to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Messages retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMessagesResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/messages/{messageId}/thread:
    get:
      operationId: getMessageThread
      summary: Get all messages in a thread
      description: |
        Retrieve all messages in a conversation thread. Given any message ID in the thread,
        returns the originator message and all replies in chronological order.

        If the message is not part of a thread, returns just that single message.

        Supports pagination and configurable ordering.
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: messageId
          in: path
          required: true
          description: ID of any message in the thread (can be originator or any reply)
          schema:
            type: string
            format: uuid
            example: 69a37c7d-af4f-4b5e-af42-e28e98ce873a
        - name: cursor
          in: query
          description: Pagination cursor from previous next_cursor response
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of messages to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: order
          in: query
          description: Sort order for messages (asc = oldest first, desc = newest first)
          schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
      responses:
        '200':
          description: Thread retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetThreadResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/chats/{chatId}/voicememo:
    post:
      operationId: sendVoiceMemoToChat
      summary: Send a voice memo to a chat
      description: |
        Send a voice memo to all participants in a chat. Voice memos MUST be sent alone without text
        or other attachments.

        **Supported audio formats:**
        - MP3 (audio/mpeg)
        - M4A (audio/x-m4a, audio/mp4)
        - AAC (audio/aac)
        - CAF (audio/x-caf) - Core Audio Format
        - WAV (audio/wav)
        - AIFF (audio/aiff, audio/x-aiff)
        - AMR (audio/amr)
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: f19ee7b8-8533-4c5c-83ec-4ef8d6d1ddbd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendVoiceMemoToChatRequest'
            example:
              voice_memo_url: https://example.com/voice-memo.m4a
      responses:
        '202':
          description: Voice memo accepted for delivery
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendVoiceMemoToChatResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '413':
          description: Voice memo file too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  status: 413
                  code: 5001
                  message: Voice memo file too large - maximum size is 10MB
                success: false
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/messages/{messageId}:
    get:
      operationId: getMessage
      summary: Get a message by ID
      description: |
        Retrieve a specific message by its ID. This endpoint returns the full message
        details including text, attachments, reactions, and metadata.
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: messageId
          in: path
          required: true
          description: Unique identifier of the message to retrieve
          schema:
            type: string
            format: uuid
            example: 69a37c7d-af4f-4b5e-af42-e28e98ce873a
      responses:
        '200':
          description: Message found and returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteMessage
      summary: Delete a message from system
      description: |
        Deletes a message from the Linq API only. This does NOT unsend or remove the message
        from the actual chat - recipients will still see the message.

        Use this endpoint to remove messages from your records and prevent them from appearing
        in API responses.
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: messageId
          in: path
          required: true
          description: Unique identifier of the message to delete
          schema:
            type: string
            format: uuid
            example: 69a37c7d-af4f-4b5e-af42-e28e98ce873a
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteMessageRequest'
            examples:
              deleteMessage:
                summary: Delete a message
                value:
                  chat_id: 94c6bf33-31d9-40e3-a0e9-f94250ecedb9
      responses:
        '204':
          description: Message deleted successfully (no content returned)
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/messages/{messageId}/reactions:
    post:
      operationId: sendReaction
      summary: Add or remove a reaction to a message
      description: |
        Add or remove emoji reactions to messages. Reactions let users express
        their response to a message without sending a new message.

        **Supported Reactions:**
        - love ❤️
        - like 👍
        - dislike 👎
        - laugh 😂
        - emphasize ‼️
        - question ❓
        - custom - any emoji (use `custom_emoji` field to specify)
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: messageId
          in: path
          required: true
          description: Unique identifier of the message to react to
          schema:
            type: string
            format: uuid
            example: 69a37c7d-af4f-4b5e-af42-e28e98ce873a
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendReactionRequest'
            examples:
              addLove:
                summary: Add a love reaction
                value:
                  operation: add
                  type: love
              removeLike:
                summary: Remove a like reaction
                value:
                  operation: remove
                  type: like
              reactToMessagePart:
                summary: React to a specific message part
                value:
                  operation: add
                  type: laugh
                  part_index: 1
      responses:
        '200':
          description: Reaction added/removed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reaction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/attachments:
    post:
      operationId: requestUpload
      summary: Pre-upload a file
      description: |
        **This endpoint is optional.** You can send media by simply providing a URL in your
        message's media part — no pre-upload required. Use this endpoint only when you want
        to upload a file ahead of time for reuse or latency optimization.

        Returns a presigned upload URL and a permanent `attachment_id` you can reference
        in future messages.

        ## Step 1: Request an upload URL

        Call this endpoint with file metadata:

        ```json
        POST /v3/attachments
        {
          "filename": "photo.jpg",
          "content_type": "image/jpeg",
          "size_bytes": 1024000
        }
        ```

        The response includes an `upload_url` (valid for 15 minutes) and a permanent `attachment_id`.

        ## Step 2: Upload the file

        Make a PUT request to the `upload_url` with the raw file bytes as the request body.. Include the headers from `required_headers`.
        The request body is the binary file content — **not** JSON, **not** multipart form data.

        ```bash
        curl -X PUT "<upload_url from step 1>" \
          -H "Content-Type: image/jpeg" \
          --data-binary @filebytes
        ```

        ## Step 3: Send a message with the attachment

        Reference the `attachment_id` in a media part. The ID never expires — use it in as many messages as you want.

        ```json
        POST /v3/messages
        {
          "to": ["+15551234567"],
          "from": "+15559876543",
          "parts": [
            { "type": "media", "attachment_id": "<attachment_id from step 1>" }
          ]
        }
        ```

        ## When to use this instead of a URL in the media part

        - Sending the same file to multiple recipients (avoids re-downloading each time)
        - Large files where you want to separate upload from message send
        - Latency-sensitive sends where the file should already be stored

        If you just need to send a file once, skip all of this and pass a `url` directly in the media part instead.

        **File Size Limit:** 100MB

        **Unsupported Types:** WebP, SVG, FLAC, OGG, and executable files are explicitly rejected.
      tags:
        - Attachments
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestUploadRequest'
            examples:
              imageUpload:
                summary: Request upload for an image
                value:
                  filename: photo.jpg
                  content_type: image/jpeg
                  size_bytes: 1024000
              videoUpload:
                summary: Request upload for a video
                value:
                  filename: video.mp4
                  content_type: video/mp4
                  size_bytes: 50000000
      responses:
        '200':
          description: Upload URL generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestUploadResult'
              examples:
                presignedUrlResponse:
                  summary: Presigned upload URL ready
                  value:
                    attachment_id: 550e8400-e29b-41d4-a716-446655440000
                    upload_url: https://uploads.linqapp.com/attachments/550e8400?X-Amz-Algorithm=AWS4-HMAC-SHA256&...
                    download_url: https://cdn.linqapp.com/uploads/partner-id/550e8400/photo.jpg
                    http_method: PUT
                    expires_at: '2024-01-15T10:45:00Z'
                    required_headers:
                      Content-Type: image/jpeg
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/attachments/{attachmentId}:
    get:
      operationId: getAttachment
      summary: Get attachment metadata
      description: |
        Retrieve metadata for a specific attachment including its status,
        file information, and URLs for downloading.
      tags:
        - Attachments
      security:
        - BearerAuth: []
      parameters:
        - name: attachmentId
          in: path
          required: true
          description: Unique identifier of the attachment
          schema:
            type: string
            format: uuid
            example: abc12345-1234-5678-9abc-def012345678
      responses:
        '200':
          description: Attachment found and returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                filename: photo.jpg
                content_type: image/jpeg
                size_bytes: 1024000
                status: complete
                download_url: https://cdn.example.com/attachments/550e8400-e29b-41d4-a716-446655440000/photo.jpg
                created_at: '2024-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/phonenumbers:
    get:
      operationId: listPhoneNumbers
      summary: List phone numbers
      description: |
        Returns all phone numbers assigned to the authenticated partner.
        Use this endpoint to discover which phone numbers are available for
        sending messages via the `from` field in create chat and send message requests.
      tags:
        - Phone Numbers
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Phone numbers retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPhoneNumbersResult'
              example:
                phone_numbers:
                  - id: 550e8400-e29b-41d4-a716-446655440000
                    phone_number: '+12025551234'
                    status: ASSIGNED
                    type: APPLE_ID
                    country_code: US
                    capabilities:
                      sms: true
                      mms: true
                      voice: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/webhook-events:
    get:
      operationId: listWebhookEvents
      summary: List available webhook event types
      description: |
        Returns all available webhook event types that can be subscribed to.
        Use this endpoint to discover valid values for the `subscribed_events`
        field when creating or updating webhook subscriptions.
      tags:
        - Webhooks
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of available webhook event types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEventsResult'
              example:
                events:
                  - message.sent
                  - message.received
                  - message.read
                  - message.delivered
                  - message.failed
                  - reaction.added
                  - reaction.removed
                  - participant.added
                  - participant.removed
                  - chat.created
                  - chat.group_name_updated
                  - chat.group_icon_updated
                  - chat.group_name_update_failed
                  - chat.group_icon_update_failed
                  - chat.typing_indicator.started
                  - chat.typing_indicator.stopped
                doc_url: https://apidocs.linqapp.com/documentation/webhook-events
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/webhook-subscriptions:
    post:
      operationId: createWebhookSubscription
      summary: Create a new webhook subscription
      description: |
        Create a new webhook subscription to receive events at a target URL.
        Upon creation, a signing secret is generated for verifying webhook
        authenticity. **Store this secret securely — it cannot be retrieved later.**

        **Webhook Delivery:**
        - Events are sent via HTTP POST to the target URL
        - Each request includes `X-Webhook-Signature` and `X-Webhook-Timestamp` headers
        - Signature is HMAC-SHA256 over `{timestamp}.{payload}` — see [Webhook Events](/docs/webhook-events) for verification details
        - Failed deliveries (5xx, 429, network errors) are retried up to 6 times with exponential backoff: 2s, 4s, 8s, 16s, 30s
        - Client errors (4xx except 429) are not retried
      tags:
        - Webhooks
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookSubscriptionRequest'
            examples:
              messageEvents:
                summary: Subscribe to message events
                value:
                  target_url: https://webhooks.example.com/linq/events
                  subscribed_events:
                    - message.sent
                    - message.delivered
                    - message.read
              messageEventsWithVersion:
                summary: Subscribe with explicit webhook version
                value:
                  target_url: https://webhooks.example.com/linq/events?version=2026-02-03
                  subscribed_events:
                    - message.sent
                    - message.delivered
                    - message.read
              allEvents:
                summary: Subscribe to all events
                value:
                  target_url: https://webhooks.example.com/linq/events
                  subscribed_events:
                    - message.sent
                    - message.delivered
                    - message.read
                    - message.failed
                    - message.received
                    - reaction.added
                    - reaction.removed
                    - participant.added
                    - participant.removed
      responses:
        '201':
          description: Webhook subscription created successfully. The signing_secret is only returned in this response - store it securely.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscriptionCreatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: listWebhookSubscriptions
      summary: List all webhook subscriptions
      description: |
        Retrieve all webhook subscriptions for the authenticated partner.
        Returns a list of active and inactive subscriptions with their
        configuration and status.
      tags:
        - Webhooks
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of webhook subscriptions retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWebhookSubscriptionsResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/webhook-subscriptions/{subscriptionId}:
    get:
      operationId: getWebhookSubscription
      summary: Get a webhook subscription by ID
      description: |
        Retrieve details for a specific webhook subscription including its
        target URL, subscribed events, and current status.
      tags:
        - Webhooks
      security:
        - BearerAuth: []
      parameters:
        - name: subscriptionId
          in: path
          required: true
          description: Unique identifier of the webhook subscription
          schema:
            type: string
            example: b2c3d4e5-f6a7-8901-bcde-f23456789012
      responses:
        '200':
          description: Webhook subscription found and returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscriptionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: updateWebhookSubscription
      summary: Update a webhook subscription
      description: |
        Update an existing webhook subscription. You can modify the target URL,
        subscribed events, or activate/deactivate the subscription.

        **Note:** The signing secret cannot be changed via this endpoint.
      tags:
        - Webhooks
      security:
        - BearerAuth: []
      parameters:
        - name: subscriptionId
          in: path
          required: true
          description: Unique identifier of the webhook subscription
          schema:
            type: string
            example: b2c3d4e5-f6a7-8901-bcde-f23456789012
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookSubscriptionRequest'
            examples:
              updateURL:
                summary: Update target URL
                value:
                  target_url: https://webhooks.example.com/linq/events
              updateEvents:
                summary: Update subscribed events
                value:
                  subscribed_events:
                    - message.sent
                    - message.delivered
              deactivate:
                summary: Deactivate subscription
                value:
                  is_active: false
      responses:
        '200':
          description: Webhook subscription updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteWebhookSubscription
      summary: Delete a webhook subscription
      description: Delete a webhook subscription.
      tags:
        - Webhooks
      security:
        - BearerAuth: []
      parameters:
        - name: subscriptionId
          in: path
          required: true
          description: Unique identifier of the webhook subscription
          schema:
            type: string
            example: b2c3d4e5-f6a7-8901-bcde-f23456789012
      responses:
        '204':
          description: Webhook subscription deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
webhooks:
  message.sent:
    post:
      tags:
        - Events (2026-02-03)
      operationId: webhookMessageSentV2026
      summary: Message sent
      description: |
        Triggered when a message has been successfully sent from your phone number.
        This confirms the message has been sent, but potentially has not yet been delivered.

        **Timestamps:** `sent_at` is set, `delivered_at` and `read_at` are null.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageSentWebhookV2'
            example:
              api_version: v3
              webhook_version: '2026-02-03'
              event_type: message.sent
              event_id: e20feb41-7f67-43f0-89c8-a985cff3b568
              created_at: '2026-02-05T19:52:18.101373886Z'
              trace_id: 2eff5df5c6f688733c007523c4d61cd9
              partner_id: your-partner-id
              data:
                chat:
                  id: 0c961e93-e7bf-4db2-bf7b-ea06826bcab4
                  is_group: false
                  owner_handle:
                    handle: '+12025551234'
                    id: 8d79532a-f529-4244-a5cf-d443de051434
                    is_me: true
                    joined_at: '2026-01-21T21:59:45.191571Z'
                    left_at: null
                    service: iMessage
                    status: active
                id: 347d62c2-2170-4754-8d30-c76d0c727d96
                idempotency_key: null
                direction: outbound
                sender_handle:
                  handle: '+12025551234'
                  id: 8d79532a-f529-4244-a5cf-d443de051434
                  is_me: true
                  joined_at: '2026-01-21T21:59:45.191571Z'
                  left_at: null
                  service: iMessage
                  status: active
                parts:
                  - type: text
                    value: Hello from Linq!
                  - filename: photo.jpg
                    id: f13dda7d-ecac-49eb-b3fe-16fe286abf19
                    mime_type: image/jpeg
                    size_bytes: 245678
                    type: media
                    url: https://cdn.linqapp.com/attachments/a1b2c3d4/photo.jpg?signature=...
                effect: null
                sent_at: '2026-02-05T19:52:17.219Z'
                delivered_at: null
                read_at: null
                service: iMessage
                preferred_service: null
      responses:
        '200':
          description: Webhook received successfully
  message.received:
    post:
      tags:
        - Events (2026-02-03)
      operationId: webhookMessageReceivedV2026
      summary: Message received
      description: |
        Triggered when an incoming message is received on your phone number.
        Contains the full message content including any attachments.

        **Timestamps:** `sent_at` is set, `delivered_at` and `read_at` are null.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageReceivedWebhookV2'
            example:
              api_version: v3
              webhook_version: '2026-02-03'
              event_type: message.received
              event_id: 2915e81c-5068-4796-ace2-21d2c94ad298
              created_at: '2026-02-05T19:31:13.736444093Z'
              trace_id: 8af9171a45022df2eb74ba4e4c83be0f
              partner_id: your-partner-id
              data:
                chat:
                  id: 8f392755-6865-4b18-880a-227f9d8b458f
                  is_group: false
                  owner_handle:
                    handle: '+12025551234'
                    id: 6d6c617f-187a-4dcd-a0d5-988347a8c092
                    is_me: true
                    joined_at: '2026-01-04T05:48:51.321469Z'
                    left_at: null
                    service: iMessage
                    status: active
                id: 89e3566e-1d13-49e5-a8ee-48490d5bfeb7
                direction: inbound
                sender_handle:
                  handle: '+12025559876'
                  id: e604375a-5913-483a-8278-c631e8f0ffda
                  is_me: false
                  joined_at: '2026-01-04T05:48:51.321469Z'
                  left_at: null
                  service: iMessage
                  status: active
                parts:
                  - type: text
                    value: Hello!
                effect: null
                reply_to: null
                sent_at: '2026-02-05T19:31:13.074Z'
                delivered_at: null
                read_at: null
                service: iMessage
      responses:
        '200':
          description: Webhook received successfully
  message.read:
    post:
      tags:
        - Events (2026-02-03)
      operationId: webhookMessageReadV2026
      summary: Message read
      description: |
        Triggered when a sent message has been read by the recipient.
        Only available for iMessage conversations with read receipts enabled.

        **Timestamps:** `sent_at`, `delivered_at`, and `read_at` are all set.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageReadWebhookV2'
            example:
              api_version: v3
              webhook_version: '2026-02-03'
              event_type: message.read
              event_id: 8fd42065-b998-482a-93b3-da855f8dad17
              created_at: '2026-02-05T19:13:58.833366566Z'
              trace_id: cbb93c08fa1a3f3c4c2efc161d67f36d
              partner_id: your-partner-id
              data:
                chat:
                  id: 24e33345-e6cf-4f50-9d35-1d7fde8c9818
                  is_group: false
                  owner_handle:
                    handle: '+12025551234'
                    id: d31678e9-0442-48fd-b7ed-c898d245dd15
                    is_me: true
                    joined_at: '2026-01-18T03:38:41.442254Z'
                    left_at: null
                    service: iMessage
                    status: active
                id: dc6d3f68-90df-48f0-a504-e65f239a383c
                idempotency_key: null
                direction: outbound
                sender_handle:
                  handle: '+12025551234'
                  id: d31678e9-0442-48fd-b7ed-c898d245dd15
                  is_me: true
                  joined_at: '2026-01-18T03:38:41.442254Z'
                  left_at: null
                  service: iMessage
                  status: active
                parts:
                  - type: text
                    value: Hello world!
                effect: null
                sent_at: '2026-02-05T19:13:57.814Z'
                delivered_at: '2026-02-05T19:13:57.948Z'
                read_at: '2026-02-05T19:13:58.177Z'
                service: iMessage
                preferred_service: null
      responses:
        '200':
          description: Webhook received successfully
  message.delivered:
    post:
      tags:
        - Events (2026-02-03)
      operationId: webhookMessageDeliveredV2026
      summary: Message delivered
      description: |
        Triggered when a sent message has been delivered to the recipient's device.
        This confirms the message reached the recipient, but does not indicate it was read.
        Only available for iMessage conversations with delivery receipts.

        **Timestamps:** `sent_at` and `delivered_at` are set, `read_at` is null.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageDeliveredWebhookV2'
            example:
              api_version: v3
              webhook_version: '2026-02-03'
              event_type: message.delivered
              event_id: 67c4ad39-e9b0-47f6-82f8-64bdd8ceafa6
              created_at: '2026-02-05T19:52:22.593689073Z'
              trace_id: abde7f6248fba00f97e8c7dc4782d7e0
              partner_id: your-partner-id
              data:
                chat:
                  id: 0c961e93-e7bf-4db2-bf7b-ea06826bcab4
                  is_group: false
                  owner_handle:
                    handle: '+12025551234'
                    id: 8d79532a-f529-4244-a5cf-d443de051434
                    is_me: true
                    joined_at: '2026-01-21T21:59:45.191571Z'
                    left_at: null
                    service: iMessage
                    status: active
                id: 347d62c2-2170-4754-8d30-c76d0c727d96
                idempotency_key: null
                direction: outbound
                sender_handle:
                  handle: '+12025551234'
                  id: 8d79532a-f529-4244-a5cf-d443de051434
                  is_me: true
                  joined_at: '2026-01-21T21:59:45.191571Z'
                  left_at: null
                  service: iMessage
                  status: active
                parts:
                  - type: text
                    value: Hello world!
                  - filename: photo.gif
                    id: b9ed828d-dbac-431f-889a-23f276384389
                    mime_type: image/gif
                    size_bytes: 2776819
                    type: media
                    url: https://cdn.linqapp.com/attachments/b9ed828d/photo.gif?signature=...
                effect: null
                sent_at: '2026-02-05T19:52:17.219Z'
                delivered_at: '2026-02-05T19:52:22.291Z'
                read_at: null
                service: iMessage
                preferred_service: null
      responses:
        '200':
          description: Webhook received successfully
  message.failed:
    post:
      tags:
        - Events (2026-02-03)
      operationId: webhookMessageFailedV2026
      summary: Message delivery failed
      description: |
        Triggered when a message fails to be delivered. This can happen due to:
        - Request timeout (message expired before being processed)
        - Upstream service error (processing failed after retries)
        - Request cancelled (message was explicitly cancelled)
        - Service unavailable (no service available to process the request)

        Note: The original message content may not be available if the message
        expired before being consumed by a processor.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageFailedWebhook'
      responses:
        '200':
          description: Webhook received successfully
  reaction.added:
    post:
      tags:
        - Events (2026-02-03)
      operationId: webhookReactionAddedV2026
      summary: Reaction added
      description: |
        Triggered when a reaction (tapback) is added to a message.
        Includes standard reactions like "loved", "liked", "disliked", etc.
        and custom emoji reactions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReactionAddedWebhook'
      responses:
        '200':
          description: Webhook received successfully
  reaction.removed:
    post:
      tags:
        - Events (2026-02-03)
      operationId: webhookReactionRemovedV2026
      summary: Reaction removed
      description: |
        Triggered when a reaction (tapback) is removed from a message.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReactionRemovedWebhook'
      responses:
        '200':
          description: Webhook received successfully
  participant.added:
    post:
      tags:
        - Events (2026-02-03)
      operationId: webhookParticipantAddedV2026
      summary: Participant added
      description: |
        Triggered when a new participant is added to a group chat.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParticipantAddedWebhook'
      responses:
        '200':
          description: Webhook received successfully
  participant.removed:
    post:
      tags:
        - Events (2026-02-03)
      operationId: webhookParticipantRemovedV2026
      summary: Participant removed
      description: |
        Triggered when a participant is removed from a group chat.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParticipantRemovedWebhook'
      responses:
        '200':
          description: Webhook received successfully
  chat.group_name_updated:
    post:
      tags:
        - Events (2026-02-03)
      operationId: webhookChatGroupNameUpdatedV2026
      summary: Group name updated
      description: |
        Triggered when a group chat's display name is updated.
        A null `new_value` indicates the name was removed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatGroupNameUpdatedWebhook'
      responses:
        '200':
          description: Webhook received successfully
  chat.group_icon_updated:
    post:
      tags:
        - Events (2026-02-03)
      operationId: webhookChatGroupIconUpdatedV2026
      summary: Group icon updated
      description: |
        Triggered when a group chat's icon is updated.
        A null `new_value` indicates the icon was removed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatGroupIconUpdatedWebhook'
      responses:
        '200':
          description: Webhook received successfully
  chat.group_name_update_failed:
    post:
      tags:
        - Events (2026-02-03)
      operationId: webhookChatGroupNameUpdateFailedV2026
      summary: Group name update failed
      description: Triggered when a group chat name update request fails.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatGroupNameUpdateFailedWebhook'
      responses:
        '200':
          description: Webhook received successfully
  chat.group_icon_update_failed:
    post:
      tags:
        - Events (2026-02-03)
      operationId: webhookChatGroupIconUpdateFailedV2026
      summary: Group icon update failed
      description: Triggered when a group chat icon update request fails.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatGroupIconUpdateFailedWebhook'
      responses:
        '200':
          description: Webhook received successfully
  chat.created:
    post:
      tags:
        - Events (2026-02-03)
      operationId: webhookChatCreatedV2026
      summary: Chat created
      description: Triggered when a new chat is created.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCreatedWebhook'
      responses:
        '200':
          description: Webhook received successfully
  chat.typing_indicator.started:
    post:
      tags:
        - Events (2026-02-03)
      operationId: webhookChatTypingIndicatorStartedV2026
      summary: Typing indicator started
      description: Triggered when a participant starts typing in a chat.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatTypingIndicatorStartedWebhook'
      responses:
        '200':
          description: Webhook received successfully
  chat.typing_indicator.stopped:
    post:
      tags:
        - Events (2026-02-03)
      operationId: webhookChatTypingIndicatorStoppedV2026
      summary: Typing indicator stopped
      description: Triggered when a participant stops typing in a chat.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatTypingIndicatorStoppedWebhook'
      responses:
        '200':
          description: Webhook received successfully
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |
        Bearer token authentication. Include your API token in the Authorization header.

        Format: `Authorization: Bearer <your-token>`
  responses:
    BadRequest:
      description: Invalid request - validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              status: 400
              code: 1002
              message: Phone number must be in E.164 format
            success: false
    Unauthorized:
      description: Unauthorized - missing or invalid authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              status: 401
              code: 2004
              message: Unauthorized - missing or invalid authentication token
            success: false
    Forbidden:
      description: Forbidden - no access to this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              status: 403
              code: 2005
              message: Access denied - insufficient permissions for this resource
            success: false
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              status: 404
              code: 2001
              message: Resource not found
            success: false
    UnprocessableEntity:
      description: Unprocessable Entity - request is valid but cannot be processed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              status: 422
              code: 1003
              message: Request is valid but cannot be processed
            success: false
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              status: 500
              code: 3006
              message: Internal server error
            success: false
  schemas:
    DeliveryStatus:
      type: string
      description: Current delivery status of a message
      enum:
        - pending
        - queued
        - sent
        - delivered
        - failed
      example: pending
    SentMessage:
      type: object
      description: A message that was sent (used in CreateChat and SendMessage responses)
      required:
        - id
        - parts
        - sent_at
        - delivery_status
        - is_read
      properties:
        id:
          type: string
          format: uuid
          description: Message identifier (UUID)
          example: 69a37c7d-af4f-4b5e-af42-e28e98ce873a
        service:
          type: string
          nullable: true
          description: Service used to send this message
          enum:
            - iMessage
            - SMS
            - RCS
          example: iMessage
        preferred_service:
          type: string
          nullable: true
          description: Preferred service for sending this message
          enum:
            - iMessage
            - SMS
            - RCS
          example: iMessage
        parts:
          type: array
          description: Message parts in order (text and media)
          items:
            oneOf:
              - $ref: '#/components/schemas/TextPartResponse'
              - $ref: '#/components/schemas/MediaPartResponse'
        sent_at:
          type: string
          format: date-time
          description: When the message was sent
          example: '2025-10-23T13:07:55.019-05:00'
        delivered_at:
          type: string
          format: date-time
          description: When the message was delivered
          example: null
          nullable: true
        delivery_status:
          $ref: '#/components/schemas/DeliveryStatus'
        is_read:
          type: boolean
          description: Whether the message has been read
          example: false
        effect:
          allOf:
            - $ref: '#/components/schemas/MessageEffect'
          nullable: true
          description: iMessage effect applied to this message (screen or bubble effect)
        from_handle:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/ChatHandle'
          description: The sender of this message as a full handle object
        reply_to:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/ReplyTo'
    SendMessageResponse:
      type: object
      description: Response for sending a message to a chat
      required:
        - chat_id
        - message
      properties:
        chat_id:
          type: string
          format: uuid
          description: Unique identifier of the chat this message was sent to
          example: 550e8400-e29b-41d4-a716-446655440000
        message:
          $ref: '#/components/schemas/SentMessage'
    GetThreadResponse:
      type: object
      description: Response containing messages in a thread with pagination
      required:
        - messages
      properties:
        messages:
          type: array
          description: Messages in the thread, ordered by the specified order parameter
          items:
            $ref: '#/components/schemas/Message'
        next_cursor:
          type: string
          description: Cursor for fetching the next page of results (null if no more results)
          nullable: true
          example: eyJpZCI6IjEyMzQ1Njc4OTAiLCJ0cyI6MTYzMDUwMDAwMH0=
    SendVoiceMemoToChatRequest:
      type: object
      description: Request to send a voice memo to a chat (chat_id provided in path)
      required:
        - from
        - voice_memo_url
      properties:
        from:
          type: string
          description: Sender phone number in E.164 format
          pattern: ^\+[1-9][0-9]{1,14}$
          example: '+12052535597'
        voice_memo_url:
          type: string
          format: uri
          description: URL of the voice memo audio file. Must be a publicly accessible HTTPS URL.
          example: https://example.com/voice-memo.m4a
    SendVoiceMemoResponse:
      type: object
      required:
        - success
        - message
        - chat
      properties:
        success:
          type: boolean
          description: Whether the voice memo was successfully queued
          example: true
        message:
          $ref: '#/components/schemas/VoiceMemoMessage'
        chat:
          $ref: '#/components/schemas/ChatInfo'
    SendVoiceMemoToChatResult:
      type: object
      description: Response for sending a voice memo to a chat
      required:
        - voice_memo
      properties:
        voice_memo:
          type: object
          required:
            - id
            - from
            - to
            - status
            - voice_memo
            - created_at
            - chat
          properties:
            id:
              type: string
              format: uuid
              description: Message identifier
              example: 69a37c7d-af4f-4b5e-af42-e28e98ce873a
            from:
              type: string
              description: Sender phone number
              example: '+12052535597'
            to:
              type: array
              items:
                type: string
              description: Recipient handles (phone numbers or email addresses)
              example:
                - '+12052532136'
            status:
              type: string
              description: Current delivery status
              example: queued
            service:
              type: string
              nullable: true
              description: Service used to send this voice memo
              enum:
                - iMessage
                - SMS
                - RCS
              example: iMessage
            voice_memo:
              $ref: '#/components/schemas/VoiceMemoAttachment'
            created_at:
              type: string
              format: date-time
              description: When the voice memo was created
            chat:
              $ref: '#/components/schemas/ChatInfo'
    VoiceMemoMessage:
      type: object
      required:
        - id
        - chat_id
        - from
        - to
        - voice_memo
        - status
        - created_at
      properties:
        id:
          type: string
          format: uuid
          description: Message identifier
          example: 69a37c7d-af4f-4b5e-af42-e28e98ce873a
        chat_id:
          type: string
          format: uuid
          description: Chat identifier
          example: 94c6bf33-31d9-40e3-a0e9-f94250ecedb9
        from:
          type: string
          description: 'DEPRECATED: Use from_handle instead. Sender phone number.'
          deprecated: true
          example: '+12052535597'
        from_handle:
          allOf:
            - $ref: '#/components/schemas/ChatHandle'
          description: The sender of this voice memo as a full handle object
        to:
          type: array
          items:
            type: string
          description: Recipient handles (phone numbers or email addresses)
          example:
            - '+12052532136'
        voice_memo:
          $ref: '#/components/schemas/VoiceMemoAttachment'
        status:
          type: string
          description: Current delivery status
          example: queued
        created_at:
          type: string
          format: date-time
          description: When the voice memo was created
    VoiceMemoAttachment:
      type: object
      required:
        - id
        - url
        - filename
        - mime_type
        - size_bytes
      properties:
        id:
          type: string
          format: uuid
          description: Attachment identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        url:
          type: string
          format: uri
          description: CDN URL for downloading the voice memo
          example: https://cdn.example.com/voice-memos/abc123.m4a
        filename:
          type: string
          description: Original filename
          example: voice-memo.m4a
        mime_type:
          type: string
          description: Audio MIME type
          example: audio/x-m4a
        size_bytes:
          type: integer
          description: File size in bytes
          example: 524288
        duration_ms:
          type: integer
          description: Duration in milliseconds
          example: 15000
          nullable: true
    ChatInfo:
      type: object
      required:
        - id
        - handles
        - is_group
        - service
        - is_active
      properties:
        id:
          type: string
          format: uuid
          description: Chat identifier
        handles:
          type: array
          description: Chat participants
          items:
            $ref: '#/components/schemas/ChatHandle'
        is_group:
          type: boolean
          description: Whether this is a group chat
        service:
          type: string
          description: Messaging service
          example: iMessage
        is_active:
          type: boolean
          description: Whether the chat is active
    MessagePart:
      type: object
      required:
        - type
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/TextPart'
          media: '#/components/schemas/MediaPart'
      oneOf:
        - $ref: '#/components/schemas/TextPart'
        - $ref: '#/components/schemas/MediaPart'
    TextPart:
      type: object
      required:
        - type
        - value
      properties:
        type:
          type: string
          enum:
            - text
          description: Indicates this is a text message part
        value:
          type: string
          description: The text content
          minLength: 1
          maxLength: 10000
          example: Hello!
        idempotency_key:
          type: string
          description: |
            Optional idempotency key for this specific message part.
            Use this to prevent duplicate sends of the same part.
          maxLength: 255
          example: text-part-abc123
      example:
        type: text
        value: Check this out!
    MediaPart:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - media
          description: Indicates this is a media attachment part
        url:
          type: string
          format: uri
          description: |
            Any publicly accessible HTTPS URL to the media file. The server downloads and
            sends the file automatically — no pre-upload step required.

            **Size limit:** 10MB maximum for URL-based downloads. For larger files (up to 100MB),
            use the pre-upload flow: `POST /v3/attachments` to get a presigned URL, upload directly,
            then reference by `attachment_id`.

            **Requirements:**
            - URL must include a supported file extension (e.g., `.jpg`, `.pdf`)
            - Server's Content-Type header must match the URL extension

            **Supported formats:**
            - Images: .jpg, .jpeg, .png, .gif, .heic, .heif, .tif, .tiff, .bmp
            - Videos: .mp4, .mov, .m4v, .mpeg, .mpg, .3gp
            - Documents: .pdf, .txt, .rtf, .csv, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .pages, .numbers, .key, .epub, .zip, .html, .htm
            - Contact & Calendar: .vcf, .ics

            **Note:** Audio files should use the dedicated `/v3/chats/{chatId}/voicememo` endpoint.
            For repeated sends of the same file, use `attachment_id` to avoid redundant downloads.

            Either `url` or `attachment_id` must be provided, but not both.
          pattern: ^https://
          example: https://example.com/images/photo.jpg
        attachment_id:
          type: string
          format: uuid
          description: |
            Reference to a file pre-uploaded via `POST /v3/attachments` (optional).
            The file is already stored, so sends using this ID skip the download step —
            useful when sending the same file to many recipients.

            Either `url` or `attachment_id` must be provided, but not both.
          example: 550e8400-e29b-41d4-a716-446655440000
        idempotency_key:
          type: string
          description: |
            Optional idempotency key for this specific message part.
            Use this to prevent duplicate sends of the same part.
          maxLength: 255
          example: media-part-xyz789
      example:
        type: media
        url: https://skywalker-next.linqapp.com/_next/static/media/conversations-imessage.0dc825b0.png
    TextPartResponse:
      type: object
      description: A text message part
      required:
        - type
        - value
        - reactions
      properties:
        type:
          type: string
          enum:
            - text
          description: Indicates this is a text message part
        value:
          type: string
          description: The text content
          example: Check this out!
        reactions:
          type: array
          nullable: true
          description: Reactions on this message part
          items:
            $ref: '#/components/schemas/Reaction'
      example:
        type: text
        value: Hello!
    MediaPartResponse:
      type: object
      description: A media attachment part
      required:
        - type
        - id
        - url
        - filename
        - mime_type
        - size_bytes
        - reactions
      properties:
        type:
          type: string
          enum:
            - media
          description: Indicates this is a media attachment part
        id:
          type: string
          format: uuid
          description: Unique attachment identifier
          example: abc12345-1234-5678-9abc-def012345678
        url:
          type: string
          format: uri
          description: |
            Presigned URL for downloading the attachment (expires in 1 hour).
          example: https://cdn.linqapp.com/attachments/550e8400/photo.jpg?signature=...
        filename:
          type: string
          description: Original filename
          example: photo.jpg
        mime_type:
          type: string
          description: MIME type of the file
          example: image/jpeg
        size_bytes:
          type: integer
          description: File size in bytes
          example: 245678
        reactions:
          type: array
          nullable: true
          description: Reactions on this message part
          items:
            $ref: '#/components/schemas/Reaction'
      example:
        type: media
        id: abc12345-1234-5678-9abc-def012345678
        url: https://cdn.linqapp.com/attachments/abc12345/photo.jpg?signature=...
        filename: photo.jpg
        mime_type: image/jpeg
        size_bytes: 245678
    MessageEffects:
      type: object
      description: |
        Message effects for iMessage. Only one effect type can be applied per message.
        Screen effects play a full-screen animation. Bubble effects animate the message bubble.
      properties:
        screen_effect:
          type: string
          description: |
            Full-screen animation effect. Available screen effects:
            - confetti: Colorful confetti falls from top of screen
            - fireworks: Fireworks explode across the screen
            - lasers: Laser beams scan across the screen
            - sparkles: Sparkle/celebration effect
            - celebration: Alias for sparkles (matches UI name)
            - hearts: Floating hearts fill the screen
            - love: Alias for hearts (matches UI name)
            - balloons: Colorful balloons float up
            - happy_birthday: Alias for balloons
            - echo: Message text echoes/multiplies across screen
            - spotlight: Spotlight illuminates the message
          enum:
            - confetti
            - fireworks
            - lasers
            - sparkles
            - celebration
            - hearts
            - love
            - balloons
            - happy_birthday
            - echo
            - spotlight
          example: confetti
        bubble_effect:
          type: string
          description: |
            Message bubble animation effect. Available bubble effects:
            - slam: Message slams onto screen with impact
            - loud: Message appears larger with emphasis
            - gentle: Message fades in softly
            - invisible: Invisible ink effect (revealed on tap)
          enum:
            - slam
            - loud
            - gentle
            - invisible
          example: slam
    MessageContent:
      type: object
      description: |
        Message content container. Groups all message-related fields together,
        separating the "what" (message content) from the "where" (routing fields like from/to).
      required:
        - parts
      properties:
        parts:
          type: array
          description: |
            Array of message parts. Each part can be either text or media.
            Parts are displayed in order. Text and media can be mixed.

            **Supported Media:**
            - Images: .jpg, .jpeg, .png, .gif, .heic, .heif, .tif, .tiff, .bmp
            - Videos: .mp4, .mov, .m4v, .mpeg, .mpg, .3gp
            - Documents: .pdf, .txt, .rtf, .csv, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .pages, .numbers, .key, .epub, .zip, .html, .htm
            - Contact & Calendar: .vcf, .ics

            **Audio Handling:**
            - Audio files (voice memos) should use the dedicated `/v3/chats/{chatId}/voicememo` endpoint
            - This ensures proper voice memo formatting and playback in iMessage

            **Validation Rule:** Consecutive text parts are not allowed. Text parts must
            be separated by media parts. For example, [text, text] is invalid, but
            [text, media, text] is valid.
          minItems: 1
          maxItems: 10
          items:
            $ref: '#/components/schemas/MessagePart'
          example:
            - type: text
              value: Check this out!
            - type: media
              url: https://skywalker-next.linqapp.com/_next/static/media/conversations-imessage.0dc825b0.png
        effect:
          $ref: '#/components/schemas/MessageEffect'
          description: iMessage effect to apply to this message (screen or bubble effect)
        reply_to:
          $ref: '#/components/schemas/ReplyTo'
          description: Reply to another message to create a threaded conversation
        idempotency_key:
          type: string
          description: |
            Optional idempotency key for this message.
            Use this to prevent duplicate sends of the same message.
          maxLength: 255
          example: msg-abc123xyz
        preferred_service:
          type: string
          description: |
            Preferred messaging service to use for this message.
            If not specified, uses default fallback chain: iMessage → RCS → SMS.
            - iMessage: Enforces iMessage without fallback to RCS or SMS. Message fails if recipient doesn't support iMessage.
            - RCS: Enforces RCS or SMS (no iMessage). Uses RCS if recipient supports it, otherwise falls back to SMS.
            - SMS: Enforces SMS (no iMessage). Uses RCS if recipient supports it, otherwise falls back to SMS.
          enum:
            - iMessage
            - RCS
            - SMS
          example: iMessage
    ErrorResponse:
      type: object
      required:
        - error
        - success
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
        success:
          type: boolean
          description: Always false for error responses
          example: false
        trace_id:
          type: string
          description: Unique trace ID for request tracing and debugging
          example: trace_abc123def456
    ErrorDetail:
      type: object
      required:
        - status
        - code
        - message
      properties:
        status:
          type: integer
          description: HTTP status code (e.g., 400, 404, 500)
          example: 400
        code:
          $ref: '#/components/schemas/ErrorCode'
        message:
          type: string
          description: Human-readable error message
          example: Phone number must be in E.164 format
    Message:
      type: object
      required:
        - id
        - chat_id
        - is_from_me
        - is_delivered
        - is_read
        - created_at
        - updated_at
      properties:
        id:
          type: string
          description: Unique identifier for the message
          format: uuid
          example: 69a37c7d-af4f-4b5e-af42-e28e98ce873a
        chat_id:
          type: string
          description: ID of the chat this message belongs to
          format: uuid
          example: 94c6bf33-31d9-40e3-a0e9-f94250ecedb9
        service:
          type: string
          nullable: true
          description: Service used to send/receive this message
          enum:
            - iMessage
            - SMS
            - RCS
          example: iMessage
        preferred_service:
          type: string
          nullable: true
          description: Preferred service for sending this message
          enum:
            - iMessage
            - SMS
            - RCS
          example: iMessage
        from:
          type: string
          nullable: true
          description: 'DEPRECATED: Use from_handle instead. Phone number of the message sender.'
          deprecated: true
          example: '+12052535597'
        from_handle:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/ChatHandle'
          description: The sender of this message as a full handle object
        parts:
          type: array
          nullable: true
          description: Message parts in order (text and media)
          items:
            oneOf:
              - $ref: '#/components/schemas/TextPartResponse'
              - $ref: '#/components/schemas/MediaPartResponse'
        reply_to:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/ReplyTo'
        is_from_me:
          type: boolean
          description: Whether this message was sent by the authenticated user
          example: true
        is_delivered:
          type: boolean
          description: Whether the message has been delivered
          example: true
        is_read:
          type: boolean
          description: Whether the message has been read
          example: false
        created_at:
          type: string
          format: date-time
          description: When the message was created
          example: '2024-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          description: When the message was last updated
          example: '2024-01-15T10:30:00Z'
        sent_at:
          type: string
          format: date-time
          nullable: true
          description: When the message was sent
          example: '2024-01-15T10:30:05Z'
        delivered_at:
          type: string
          format: date-time
          nullable: true
          description: When the message was delivered
          example: '2024-01-15T10:30:10Z'
        read_at:
          type: string
          format: date-time
          nullable: true
          description: When the message was read
          example: '2024-01-15T10:35:00Z'
        effect:
          allOf:
            - $ref: '#/components/schemas/MessageEffect'
          nullable: true
          description: iMessage effect applied to this message (screen or bubble effect)
    MessageEffect:
      type: object
      description: iMessage effect applied to a message (screen or bubble effect)
      properties:
        type:
          type: string
          description: Type of effect
          enum:
            - screen
            - bubble
          example: screen
        name:
          type: string
          description: |
            Name of the effect. Common values:
            - Screen effects: confetti, fireworks, lasers, sparkles, celebration, hearts, love, balloons, happy_birthday, echo, spotlight
            - Bubble effects: slam, loud, gentle, invisible
          example: confetti
    ReplyTo:
      type: object
      description: Indicates this message is a threaded reply to another message
      required:
        - message_id
      properties:
        message_id:
          type: string
          format: uuid
          description: The ID of the message to reply to
          example: 550e8400-e29b-41d4-a716-446655440000
        part_index:
          type: integer
          format: int32
          description: |
            The specific message part to reply to (0-based index).
            Defaults to 0 (first part) if not provided.
            Use this when replying to a specific part of a multipart message.
          minimum: 0
          example: 0
    Attachment:
      type: object
      required:
        - id
        - filename
        - content_type
        - size_bytes
        - status
        - created_at
      properties:
        id:
          type: string
          description: Unique identifier for the attachment (UUID)
          example: 550e8400-e29b-41d4-a716-446655440000
        filename:
          type: string
          description: Original filename of the attachment
          example: photo.jpg
        content_type:
          $ref: '#/components/schemas/SupportedContentType'
        size_bytes:
          type: integer
          format: int64
          description: Size of the attachment in bytes
          example: 1024000
[...]
