/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { LinqCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import * as components from "../models/components/index.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { LinqError } from "../models/errors/linq-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Pre-upload a file
 *
 * @remarks
 * **This endpoint is optional.** You can send media by simply providing a URL in your
 * message's media part — no pre-upload required. Use this endpoint only when you want
 * to upload a file ahead of time for reuse or latency optimization.
 *
 * Returns a presigned upload URL and a permanent `attachment_id` you can reference
 * in future messages.
 *
 * ## Step 1: Request an upload URL
 *
 * Call this endpoint with file metadata:
 *
 * ```json
 * POST /v3/attachments
 * {
 *   "filename": "photo.jpg",
 *   "content_type": "image/jpeg",
 *   "size_bytes": 1024000
 * }
 * ```
 *
 * The response includes an `upload_url` (valid for 15 minutes) and a permanent `attachment_id`.
 *
 * ## Step 2: Upload the file
 *
 * Make a PUT request to the `upload_url` with the raw file bytes as the request body.. Include the headers from `required_headers`.
 * The request body is the binary file content — **not** JSON, **not** multipart form data.
 *
 * ```bash
 * curl -X PUT "<upload_url from step 1>" \
 *   -H "Content-Type: image/jpeg" \
 *   --data-binary @filebytes
 * ```
 *
 * ## Step 3: Send a message with the attachment
 *
 * Reference the `attachment_id` in a media part. The ID never expires — use it in as many messages as you want.
 *
 * ```json
 * POST /v3/messages
 * {
 *   "to": ["+15551234567"],
 *   "from": "+15559876543",
 *   "parts": [
 *     { "type": "media", "attachment_id": "<attachment_id from step 1>" }
 *   ]
 * }
 * ```
 *
 * ## When to use this instead of a URL in the media part
 *
 * - Sending the same file to multiple recipients (avoids re-downloading each time)
 * - Large files where you want to separate upload from message send
 * - Latency-sensitive sends where the file should already be stored
 *
 * If you just need to send a file once, skip all of this and pass a `url` directly in the media part instead.
 *
 * **File Size Limit:** 100MB
 *
 * **Unsupported Types:** WebP, SVG, FLAC, OGG, and executable files are explicitly rejected.
 */
export function attachmentsRequestUpload(
  client: LinqCore,
  request: components.RequestUploadRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    components.RequestUploadResult,
    | errors.ErrorResponse
    | LinqError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: LinqCore,
  request: components.RequestUploadRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      components.RequestUploadResult,
      | errors.ErrorResponse
      | LinqError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => z.parse(components.RequestUploadRequest$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload, { explode: true });

  const path = pathToFunc("/v3/attachments")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.bearerAuth);
  const securityInput = secConfig == null ? {} : { bearerAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "requestUpload",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "401", "4XX", "500", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    components.RequestUploadResult,
    | errors.ErrorResponse
    | LinqError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, components.RequestUploadResult$inboundSchema),
    M.jsonErr([400, 401], errors.ErrorResponse$inboundSchema),
    M.jsonErr(500, errors.ErrorResponse$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
